---
layout: layouts/global.njk
---

<h1>{{ title }}</h1>
{{ content | safe }}

<ul class="c-post-list">
  {% for item in collections.posts | reverse %}
    {% include "partials/c-post-item.njk" %}
  {% endfor %}
</ul>