---
layout: layouts/global.njk
---

<section>
  <h1>
    <span class="h2">Book</span>
    {{ title }} — {{ author }}
  </h1>
</section>

<section aria-labelledby="post-details-heading" class="post-details">
  <h2 id="post-details-heading" class="u-vis-hidden">Details about this lit tape</h2>
  <div class="post-details__subsection post-details__subsection--cover">
    <img src="{{ site.imagesContent }}/{{ bookCover }}" alt="Cover of the book {{ title }}">
  </div>
  <div class="post-details__subsection">
    <h3>Book details</h3>
    <ul>
      <li>Genres: {{ bookGenres }}</li>
      <li>{{ bookPages }} pages</li>
      <li>
        <a href="{{ bookLink }}">View description on Bookshop</a>
      </li>
    </ul>
    <h3>Playlist details</h3>
    <ul>
      <li>{{ playlistTracks }} tracks</li>
      <li>Runtime: {{ playlistRuntime }}</li>
      <li>
        <a href="{{ playlistLink }}">Listen to playlist on Tidal</a>
      </li>
    </ul>
  </div>
  <div class="post-details__subsection">

{{ content | safe }}

{% include "partials/c-pagination--post.njk" %}