/*
 *  =============================================
 *  PAGE: HOME
 *  =============================================
 */

.tagline {
  padding: var(--space-primary);

  &:first-child {
    margin-top: 0;
  }
}

.cass-grid {
  border-top: 1px solid currentColor;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(calc(200px + 4rem), 1fr));
}

/*
 *  ---------------------------------------------
 *  BREAKPOINTS
 *  ---------------------------------------------
 */

@media (min-width: $bp-m) {
  .cass-grid {
    grid-template-columns: repeat(auto-fit, minmax(calc(200px + 6rem), 1fr));
  }
}