/*
 *  =============================================
 *  COMPONENT: PAGINATION
 *  =============================================
 */

.c-pagination {
  position: relative;

  &::after {
    background-color: currentColor;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
  }
}

.c-pagination__links {
  position: relative;
  text-align: center;

  a + a {
    margin-top: var(--space-l);
  }
}
 
a.c-pagination__older,
a.c-pagination__newer {
  @include all-caps;
  border-bottom: 0;
  display: block;
  font: 700 1.25rem/1 var(--font-heading);
  position: relative;
  text-decoration: none;

  .c-pagination__label {
    border-bottom: 1px solid transparent;
  }

  &:hover {
    .c-pagination__label {
      border-bottom-color: currentColor;
    }
  }
}

.c-pagination__arrow {
  display: inline-block;
  transition: transform 200ms ease-in-out;
}

.c-pagination__older:hover {
  .c-pagination__arrow {
    transform: translateX(-.25em);
  }
}

.c-pagination__newer:hover {
  .c-pagination__arrow {
    transform: translateX(.25em);
  }
}

@media (min-width: 32em) {
  .c-pagination::after {
    height: 100%;
    left: calc(50% - 1px);
    top: 0;
    width: 1px;
  }

  .c-pagination__links {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    a + a {
      margin-top: 0;
    }
  }

  .c-pagination__links--has-next {
    justify-content: space-between;
  }

  a.c-pagination__older,
  a.c-pagination__newer {
    max-width: 50%;
}
}