/*
 *  =============================================
 *  COMPONENT: POST ITEM
 *  =============================================
 */

.c-post-item {
  align-items: center;
  align-self: stretch;
  justify-content: center;
  border-bottom: 1px solid currentColor;
  border-right: 1px solid currentColor;
  display: flex;
  flex-direction: column;
  margin: 0 -1px -1px 0;
  padding: var(--space-primary);
  position: relative;
  text-align: center;
}

.c-post-item__cass {
  display: inline-block;
  height: auto;
  max-width: 100%;
  transition: transform 200ms ease-in-out;
}

.c-post-item:has(a:hover) .c-post-item__cass {
  transform: translateY(-.66rem) scale(1.1);
}

.c-post-item__link {
  @include all-caps();
  display: block;
  font: 1.25rem/1.1 var(--font-heading);
  margin-top: var(--space-s);
}

.empty-tile {
  border: 1px dashed currentColor;
  border-radius: 8px;
  padding: var(--space-m);
}

/* Make entire post item a hit target for link */
.c-post-item__link::after {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*
 *  ---------------------------------------------
 *  BREAKPOINTS
 *  ---------------------------------------------
 */