/*
 *  =============================================
 *  SITE FOOTER
 *  =============================================
 */

.site-footer {
  padding: var(--space-primary);
  text-align: center;
}

.site-footer__desc {
  max-width: 40rem;
  text-wrap: balance;
}

/*
 *  ---------------------------------------------
 *  THEME SWITCHER
 *  ---------------------------------------------
 */

.theme-switcher {
  @include all-caps();
  align-items: center;
  border: 0;
  display: flex;
  font-size: .825rem;
  justify-content: center;
  margin-top: var(--space-m);
  text-align: center;
  width: auto;

  legend {
    font-weight: 700;
    text-align: center;
  }

  input {
    -webkit-appearance: none; /* Safari needs prefixed :( */
    appearance: none;
    width: 0;
  }

  label {
    border: 2px solid;
    border-radius: 2px;
    padding: var(--space-xxxs);
    transition: all 100ms ease-in-out;

    &:hover {
      background-color: var(--canvas-text);
      border-color: var(--canvas-text);
      color: var(--canvas-bg);
      cursor: pointer;
      text-decoration: underline;
    }
  }

  input:checked + label {
    background-color: var(--canvas-text);
    border-color: var(--canvas-text);
    color: var(--canvas-bg);
  }

  input:focus {
    outline: 0;
  }

  input:focus + label {
    outline: 2px solid var(--canvas-text);
    outline-offset: 2px;
  }
}

.theme-switcher__options {
  display: flex;
  justify-content: center;
  margin-top: var(--space-s);
}

/*
 *  ---------------------------------------------
 *  BREAKPOINTS
 *  ---------------------------------------------
 */

@media (min-width: $bp-m) {
  .site-footer {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .site-footer__desc {
    flex: 1;
    margin-right: var(--space-s);
  }

  .theme-switcher {
    margin-top: 0;
  }
}