<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title | escape }} - {% endif %}{{ site.title }}</title>
  <meta property="og:title" content="{% if title %}{{ title | escape }} - {% endif %}{{ site.title }}">

  {% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
  {% endif %}

  <meta name="robots" content="index, follow">

  <!-- SOCIAL MEDIA -->
  <meta name="og:image" content="{{ site.url }}/assets/images/icon-192.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image:src" content="{{ site.url }}/assets/images/icon-192.png">
  <meta name="twitter:image:alt" content="An illustration of a cassette tape">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url}}/feed.xml">
  <link rel="canonical" href="{{ site.url }}{{ url }}">

  <!-- ICONS -->
  <link rel="icon" href="/assets/images/icon-favicon.svg" sizes="32x32" type="image/svg+xml">
  <link rel="icon" href="/assets/images/icon-favicon.png" sizes="32x32" type="image/png">
  <link rel="apple-touch-icon" href="/assets/images/icon-180.png"> <!-- Apple Touch Icon -->
  <link rel="manifest" href="/manifest.webmanifest">

  <!-- STYLE -->
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- THIS GOES IN THE HEAD TO AVOID THEME FLASHES -->
  <script src="/assets/js/scripts.js"></script>
</head>