{% set light = tape.lightTheme %}
{% set dark = tape.darkTheme %}
<style>
  :root {
    --canvas-bg: {{ light.canvasBg }};
    --canvas-text: {{ light.canvasText }};
    --link-hover-border: {{ light.accent }};
    --selection-bg: {{ light.selectionBg }};
    --selection-text: {{ light.selectionText }};
    --subtle-text: {{ light.subtleText }};
  }

  h1, h2, h3,
  .site-header__title:link, .site-header__title:visited {
    color: {{ light.heading }};
  }

  main, section,
  .post-details__subsection,
  .c-pagination {
    border-color: {{ light.border }} !important;
  }

  .c-pagination::after {
    background-color: {{ light.border }};
  }

  [data-prefers-theme="dark"] {
    --canvas-bg: {{ dark.canvasBg }};
    --canvas-text: {{ dark.canvasText }};
    --link-hover-border: {{ dark.accent }};
    --selection-bg: {{ dark.selectionBg }};
    --selection-text: {{ dark.selectionText }};
    --subtle-text: {{ dark.subtleText }};
  }

  [data-prefers-theme="dark"] h1, 
  [data-prefers-theme="dark"] h2, 
  [data-prefers-theme="dark"] h3,
  [data-prefers-theme="dark"] .site-header__title:link, 
  [data-prefers-theme="dark"] .site-header__title:visited {
    color: {{ dark.heading }};
  }

  [data-prefers-theme="dark"] main, 
  [data-prefers-theme="dark"] section,
  [data-prefers-theme="dark"] .post-details__subsection,
  [data-prefers-theme="dark"] .c-pagination {
    border-color: {{ dark.border }} !important;
  }

  [data-prefers-theme="dark"] .c-pagination::after {
    background-color: {{ dark.border }};
  }

  @media (prefers-color-scheme: dark) {
    :root:not([data-prefers-theme="light"]) {
      --canvas-bg: {{ dark.canvasBg }};
      --canvas-text: {{ dark.canvasText }};
      --link-hover-border: {{ dark.accent }};
      --selection-bg: {{ dark.selectionBg }};
      --selection-text: {{ dark.selectionText }};
      --subtle-text: {{ dark.subtleText }};
    }

    :root:not([data-prefers-theme="light"]) h1,
    :root:not([data-prefers-theme="light"]) h2,
    :root:not([data-prefers-theme="light"]) h3,
    :root:not([data-prefers-theme="light"]) .site-header__title:link, 
    :root:not([data-prefers-theme="light"]) .site-header__title:visited {
      color: {{ dark.heading }};
    }

    :root:not([data-prefers-theme="light"]) main,
    :root:not([data-prefers-theme="light"]) section,
    :root:not([data-prefers-theme="light"]) .post-details__subsection,
    :root:not([data-prefers-theme="light"]) .c-pagination {
      border-color: {{ dark.border }} !important;
    }

    :root:not([data-prefers-theme="light"]) .c-pagination::after {
      background-color: {{ dark.border }};
    }
  }
</style>