<header class="site-header">
  <div class="l-contain">
    <nav class="site-header__nav" aria-label="Site navigation">
      <div class="site-header__title-area">
        <a href="/" class="h2 | site-header__title">{{ site.title }}</a>
        <p class="site-header__author">Made by <a href="{{ site.authorUrl }}">Melanie</a></p>
      </div>
      <ul class="u-simple-list | site-header__nav-list">
        <li>
          <a href="{{ site.url}}/feed.xml">Subscribe to RSS</a>
        </li>
        <li>
          <a href="https://github.com/melanierichards/lit-tapes/issues/new/choose">Suggest a book</a>
        </li>
        <li>
          <span>Stats <span class="site-header__later">(coming later!)</span></span>
        </li>
      </ul>
    </nav>
  </div>
</header>