<footer class="site-footer">
  <p class="site-footer__desc">Made by <a href="{{ site.authorUrl}}">{{ site.author }}</a>; <a href="{{ site.author }}">explore the code</a>. I’m an affiliate of Bookshop.org: any purchases made using my links will earn me (and bookstores!) a small commission.</p>
  <fieldset class="theme-switcher">
    <legend>Theme</legend>
    <div class="theme-switcher__options">
      <span class="theme-switcher__option">
        <input id="theme-radio-auto" type="radio" name="theme" value="auto" checked><label for="theme-radio-auto">Auto</label>
      </span>
      <span class="theme-switcher__option">
        <input id="theme-radio-light" type="radio" name="theme" value="light"><label for="theme-radio-light">Light</label>
      </span>
      <span class="theme-switcher__option">
        <input id="theme-radio-dark" type="radio" name="theme" value="dark"><label for="theme-radio-dark">Dark</label>
      </span>
    </div>
  </fieldset>
</footer>