<footer class="site-footer">
  <p>Made by <a href="{{ site.authorUrl}}">{{ site.author }}</a>; <a href="{{ site.author }}">explore the code</a>. I’m an affiliate of Bookshop.org: any purchases made using my links will earn me (and bookstores!) a small commission.</p>
</footer>