@font-face {
  font-family: "Bagnard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Bagnard.otf") format("otf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
       url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "League Gothic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/LeagueGothic-Regular.woff2") format("woff2"),
       url("../fonts/LeagueGothic-Regular.woff") format("woff");
}