/*
 *  =============================================
 *  GLOBALS
 *  Styles applied globally,
 *  including element selectors.
 *  =============================================
 */

/*
 *  ---------------------------------------------
 *  GLOBAL STYLES
 *  ---------------------------------------------
 */

* {
  box-sizing: border-box;
}

html {
  background-color: var(--canvas-bg);
  color: var(--canvas-text);
  padding: var(--space-primary);
  font-family: var(--font-body);
  letter-spacing: -.01em;
}

body {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0;
}

:focus {
  outline-offset: 2px;
  outline: 2px solid currentColor;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}

/*
 *  ---------------------------------------------
 *  HEADINGS
 *  ---------------------------------------------
 */

h1, .h1 {
  font: 400 1.5rem/1.1 var(--font-tagline);
  margin: 0;
}

h2, .h2,
h3, .h3 {
  display: block;
  font: 1.5rem/1.1 var(--font-heading);
  letter-spacing: .04em;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 1.25rem;
  margin-bottom: var(--space-xs);
  margin-top: var(--space-m);
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}

@media (min-width: $bp-s) {
  h1, .h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: $bp-m) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

/*
 *  ---------------------------------------------
 *  TEXT
 *  ---------------------------------------------
 */

a:link, a:visited {
  color: currentColor;
}

a:hover {
  text-decoration-color: var(--link-hover-border);
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

p, ol, ul {
  margin: var(--space-s) 0 0;

  &:first-child {
    margin-top: 0;
  }
}

ol, ul {
  padding: 0 0 0 1em;
}

li + li {
  margin-top: var(--space-xxs);
}

/*
 *  ---------------------------------------------
 *  MEDIA
 *  ---------------------------------------------
 */

img {
  max-width: 100%;
  height: auto;
}

/*
 *  ---------------------------------------------
 *  TABLE
 *  ---------------------------------------------
 */

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: 1px solid currentColor;
}

th, td {
  padding: var(--space-xxxs) var(--space-xs);

  &:first-child {
    padding-left: 0;
  }
}