/*
 *  =============================================
 *  LAYOUT
 *  =============================================
 */

main {
  border: 1px solid currentColor;
  border-radius: 12px;
  margin-top: var(--space-primary);
}

section, .l-section {
  padding: var(--space-primary);

  &:not(:first-child) {
    border-top: 1px solid currentColor;
  }
}

/*
 *  ---------------------------------------------
 *  BREAKPOINTS
 *  ---------------------------------------------
 */

@media (min-width: $bp-m) {
  main {
    border-radius: 24px;
  }
}