/*
 *  =============================================
 *  VARIABLES
 *  =============================================
 */

/*
 *  ---------------------------------------------
 *  BREAKPOINTS
 *  ---------------------------------------------
 */

$bp-s: 36rem;
$bp-m: 48rem;
$bp-l: 64rem;
$bp-xl: 80rem;

/*
 *  ---------------------------------------------
 *  SPACING
 *  ---------------------------------------------
 */

:root {
  --space-primary: 1rem;
  --space-xxxs: .25rem;
  --space-xxs: .5rem;
  --space-xs: .75rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 3rem;
  --space-xl: 6rem;
  --space-xxl: 8rem;
}

@media (min-width: $bp-s) {
  :root {
    --space-primary: 2rem;
  }
}

@media (min-width: $bp-s) {
  :root {
    --space-primary: 3rem;
  }
}

/*
 *  ---------------------------------------------
 *  FONTS
 *  ---------------------------------------------
 */

:root {
  --font-body: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-heading: "League Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-tagline: "Bagnard", "Goudy Bookletter 1911", "Goudy Old Style", Garamond, "Georgia", serif;
}

/*
 *  ---------------------------------------------
 *  COLORS
 *  ---------------------------------------------
 */

:root {
  --canvas-bg: #fefefe;
  --canvas-text: #333;
  --link-hover-border: #48DAED;
  --selection-bg: #48DAED;
  --selection-text: #000;
  --skip-link-bg: #1b1b1b;
  --skip-link-text: #fefefe;
  --subtle-text: #666;
}

@mixin darkScheme {
  color-scheme: dark;

  --canvas-bg: #1b1b1b;
  --canvas-text: #dedede;
  --selection-text: #000;
  --subtle-text: #a2a2a2;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkScheme;
  }
}